!!! 5
%html
  %head
    %title Football League Generator
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top
      %h1 Football League Generator
    #main{:role => "main"}
      .container
        .content
          .row
            .span6.offset3
              = yield
          %footer
            %p alec.rodic@gmail.com